<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${title}">PDF Title</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        font-size: 12px;
      }
    </style>
  </head>
  <body>
    <h1 th:text="${title}">Default Title</h1>
    <p th:text="${contents}">Default PDF content goes here.</p>
  </body>
</html>
